#numberguessor {
    color:  white !important;
    background-color: orangered !important;
}

#guess {
    color:  white !important;
    background-color: orangered !important;
}

#button {
    color:  white !important;
    background-color: orangered !important;
}

#result {
    color: red !important;
    background-color: beige !important;
}